*{
      scroll-behavior: smooth;
  }
  @media only screen and (max-width:430px){
      .footer-section{
            flex-direction: column;
      }
  }
  
  .selected {
      background-color: #1DD100 !important;
     
  }
  